body {
	margin: 0; 
	padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: rgb(43, 43, 43);
}

/* ############### Header ######################
################################################ */

.banner {
  width: 100%;
  height: 392px;
  top: 0;
  left: 0;
  background-image: radial-gradient(circle, rgba(57,71,106,0.2945553221288515) 39%, 
  rgba(19,19,19,0.43461134453781514) 77%),
    url('../_img/rvheader3.jpg');
  background-size: contain, cover;
  background-repeat: no-repeat;
  overflow: hidden;
    /* background-position: 0 0, 0 100px; */
  }

.title {
  margin-top: 300px;
  position: relative;
  text-align: center;
  font-size: 3em;
  font-weight: unset;
  text-decoration: underline;
  color: #fff;
}

#topNav {
  width: 100%;
  padding: 0;
  border: .4em solid rgb(43, 43, 43);
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(255, 227, 133);
  text-align: center;
}

#topNav a {
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.62em;
  font-weight: bold;
  color: #000;
  /* background-color: green; */

}

#topNav a:hover, #topNav a:active {
  color: rgb(75, 75, 75);
}

#topNav ul {
  margin: 15px;
  padding: 0;
  list-style: none;
  word-spacing: 3em;
  /* background-color: brown; */
}

#topNav li {
  display: inline-block;
  /* background-color: violet; */
}

/* ############ Main ############
################################## */

.wrapper {
  max-width: 1600px;
}

main {
  width: 55%;
  margin-top: 69px;
  margin-left: 30px;
  float: left;
}

main h2 {
  font-size: 1.7em;
  color: rgb(255, 227, 133);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
}

.thumbnail {
  width: 230px;
  height: auto;
  margin-right: 15px;
  border: 1px solid rgb(255, 227, 133);
  float: left;
}


.news div {
  min-height: 140px;
  margin-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 25px;
  /* padding-left: 4px; */
  border-bottom: 1px solid rgb(56, 56, 56);
}

.news dt {
  margin-bottom: 7px;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(255, 227, 133);
  /* display: inline-block; */
  /* margin-left: 20px; */
}

.news dd {
  font-size: .9em;
  font-weight: 100;
  color: white;
}

.news a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 227, 133);
  border-bottom: 2px solid rgb(56, 56, 56);
}

.news a:hover {
  text-decoration: none;
  transition: all .5s linear;
  border-bottom: 2px solid rgb(255, 217, 92); 
}

/* ######### Reviews ########## 
################################ */

.reviews {
  width: 27%;
  /* position:absolute; */
  margin-top: 72px;
  margin-right: 20px;
  padding: 0;
  padding-left: 20px;
  border-radius: 7px;
  float: right;
  background-color: rgb(34, 34, 34);
}

h3 {
  margin-top: 17px;
  margin-bottom: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.7em;
  color: rgb(255, 227, 133);
}

.albumpic {
  width: 100px;
  height: auto;
  margin-top: 0;
  margin-right: 10px;
  float: left;
  border: 1px solid rgb(255, 227, 133);
}

.reviews div {
  min-height: 40px;
  margin-top: 22px;
  padding-bottom: 20%;
  border-bottom: 1px solid rgb(48, 48, 48);
}

.reviews-list a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  /* margin-bottom: 7px; */
  font-size: 1.1em;
  color: rgb(255, 227, 133);
}

.reviews-list a:after {
  content: '';
  width: 0; 
  height: 2px;
  margin-top: 1px;
  right: 0;
  position: absolute;
  display: block;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
  background: rgb(255, 227, 133);
}

.reviews-list a:hover:after{
  width: 100%;
  left: 0;
  background: rgb(255, 227, 133);
}

.reviews-list dd {
  margin-top: 10px;
  font-weight: 100;
  font-size: .9em;
  color: white;
}

